<% content_for :head do %>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@vernalkick">
  <meta name="twitter:creator" content="@vernalkick">
  <meta name="twitter:title" content="<%= current_page.data.title %>">
  <meta name="twitter:description" content="<%= current_page.summary %>">
<% end %>

<% wrap_layout :layout do %>
  <article class="post">
    <header class="post__header">
      <h1><%= current_page.data.title %></h1>
      <% if current_page.data.date %>
        <time datetime="<%= current_page.date %>" pubdate><%= current_page.date.strftime("%A, %-d %B %Y") %></time>
      <% end %>
    </header>
    <div class="post__content">
      <%= yield %>
    </div>
  </article>
<% end %>
