<!doctype html>
<html>
  <head>
    <!-- Required meta stuff-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- SEO magic -->
    <title><%= "#{current_page.data.title} — " if current_page.data.title %>Kevin Clark</title>
    <meta name="description" content="Kevin Clark is a product designer living in Montreal.">
    <meta name="author" content="Kevin Clark">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon.png">

    <!-- Mobile optimizations -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <%= stylesheet_link_tag "styles" %>

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@vernalkick">
    <meta name="twitter:creator" content="@vernalkick">
    <meta name="twitter:title" content="<%= is_blog_article? ? current_page.data.title : 'Kevin Clark' %>">
    <meta name="twitter:description" content="<%= is_blog_article? ? current_page.summary : 'I’m a Product Designer at Shopify, run the Montreal Dribbble meetups and make apps in my spare time. I live and work in the beautiful city of Montreal.' %>">
    <% if is_blog_article? && first_image = current_page.body.match(/<img.*?src="(https?)?(.*?)".*?>/)  %>
      <meta name="twitter:image:src" content="<%= (first_image[1] || "http://kevinclark.ca") + first_image[2] %>">
    <% end %>
  </head>

  <body>

    <%= partial "layouts/partials/header" %>

    <main class="page-main">
      <div class="wrap">
        <%= yield %>
      </div>
    </main>

    <%= partial "layouts/partials/footer" %>

    <%= partial "layouts/partials/javascripts" %>

  </body>
</html>
